@model Inventory.Models.Entity.BookModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.Partial("_BookForm")
    }
</div>



