@model Inventory.Models.Entity.BookModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

    <div class="jumbotron">
       @using (Html.BeginForm())
       {
            @Html.HiddenFor(model => model.BookModelId)
            @Html.Partial("_BookForm")
        }
    </div>

